<div class="row">
  <div class="col-lg-12">
    <%= link_to 'Admin Home', admins_path %>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <%= link_to 'Log Out', destroy_admin_session_path, method: :delete %>
  </div>
</div>
