/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 *= require bootstrap/dist/css/bootstrap
 *= require mdbootstrap/css/mdb
 *= require_tree .
 *= require_self
 */

//@import "font-awesome";
.h1 {

    text-align: center;
}

a.list-group-item-success {
    text-align: center;
    font-size: 30px;
}

a[href^="#list-html-lesson"],
a[href^="#list-css-lesson"],
a[href^="#list-js-lesson"] {
    margin-left: 15px;
    font-size: 16px;
}


.navbar {
    background-color: #7979d2;
}

.navbar-brand {
    color: white !important;
}

.form {
    //    width: 60%;
    margin: 0 auto;
}

.form-group label {
    font-size: 20px;
    font-weight: 500;
}
