// Place all the styles related to the Languages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.languages_container {
  font-size: 25px;
  box-shadow: 1px 1px 1px 1px #7878d2;
  border-radius: 25px;
}

.language_padding {
  padding-top: 25px;
}

.language_btn {
  background-color: #7878d2;
box-shadow: 2px 2px 3px #9e8989;
      box-sizing: border-box;
    border: 1px solid #d2cfcf;
}

.language_input {
  box-shadow: 1px 1px 2px grey;
    border: 3px solid #7878d2;
    box-sizing: border-box;
}

.language_head_font {
  color: #7878d2;
}
